language: go
go: 
  - 1.9

before_install:
  - sudo add-apt-repository ppa:masterminds/glide -y
  - sudo apt-get update -q
  - sudo apt-get install glide -y

install:
  - make get-deps

script:
  - make test
  - make coverage

after_success:
  - bash <(curl -s https://codecov.io/bash)