::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: #CAE4FA;
    border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
    background-color: #428bca;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #1D74BF;
}

.selected_row { font-weight: bold;}
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

table .collapse.in {
	display:table-row;
}

.table-hover > tbody > tr.select-row:hover > td,
.select-row > td {
    background-color: #fff;
}

.sorting_icons {
    padding-left: 5px;
    color: #aaa;
    font-size:0.8em;
}

.selected {
    color: #d9534f;
}